<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183921599435-a27crhonis207qcilv2kes61qihi1ubr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183921599435-a27crhonis207qcilv2kes61qihi1ubr</string>
	<key>API_KEY</key>
	<string>AIzaSyCoHHZAiM6jU7lkL-MDnecpMZJ3t0_R5Yk</string>
	<key>GCM_SENDER_ID</key>
	<string>183921599435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>byoungil.youn.CardGame</string>
	<key>PROJECT_ID</key>
	<string>onboardingtutorial-cardgame</string>
	<key>STORAGE_BUCKET</key>
	<string>onboardingtutorial-cardgame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183921599435:ios:56a0b6aac3a56cc664cc4e</string>
	<key>DATABASE_URL</key>
	<string>https://onboardingtutorial-cardgame.firebaseio.com</string>
</dict>
</plist>